#database {
    width: 48%;
    float: left;
    background-color: rgb(248, 236, 236);

}

body {
    background: gray;
}

h1 {
    background-color: rgb(141, 134, 236);
    height: 50%;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
}

#live {
    float: left;
    width: 48%;
    border-radius: 3%;
    margin-left: 2%;
    background-color: rgb(248, 236, 236);
}

#Temperature {
    width: 40%;
    float: left;
    margin-left: 10%;
}

#Humidity {
    width: 30%;
    float: right;
}

#Pressure {
    width: 40%;
    float: left;
    margin-left: 10%;
}

#Dust {
    width: 30%;
    float: right;
}

#UV {
    width: 40%;
    margin-top: 1%;
    margin-left: 10%;
    float:left;
}

#prediction {
    float: left;
    width: 48%;
    border-radius: 2%;
    margin-left: 2%;
    margin-top: 3%;
    background-color: rgb(248, 236, 236);
}


button {
    background-color: rgb(141, 134, 236);
    /* float:right;
    margin-right: 80px;*/
}

form {
    margin-top: 2%;
    margin-left: 10%;
}

#actualMax {
    width: 40%;
    float: left;
    margin-left: 10%;
}

#predMax {
    width: 50%;
    float: right;
}

#actualMin {
    width: 40%;
    float: left;
    margin-left: 10%;
}

#predMin {
    width: 50%;
    float: right;
}
#tomorrow_pred{
    background-color: rgb(248, 236, 236);
    float: left;
    width: 48%;
    border-radius: 2%;
    margin-left: 2%;
    margin-top: 3%;
    text-align: center;
}

#MaxNext{
    width: 40%;
    margin-left: 10%;
}

#MinNext{
    width: 40%;
    margin-left: 10%;
    margin-top: 5%;
}
